﻿/* game finished screen
--------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
.finished {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    /* span entire page */
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    /* center content */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.finished__won {
    background-color: seagreen;
}
.finished__tied {
    background-color: #FBD872;
}
.finished__lost {
    background-color: #ff6666;
}
.finished--title {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 1px grey;
}
.finished--continue {
    color: white;
    text-shadow: 1px 1px 1px grey;
}
.finished--continue:hover {
    color: black;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
