﻿@model ReversiMvcApp.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Token" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Token" class="control-label"></label>
                <input asp-for="Player1Token" class="form-control" />
                <span asp-validation-for="Player1Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Token" class="control-label"></label>
                <input asp-for="Player2Token" class="form-control" />
                <span asp-validation-for="Player2Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board" class="control-label"></label>
                <input asp-for="Board" class="form-control" />
                <span asp-validation-for="Board" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turn" class="control-label"></label>
                <select asp-for="Turn" class="form-control"></select>
                <span asp-validation-for="Turn" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFinished" /> @Html.DisplayNameFor(model => model.IsFinished)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
