﻿@using ReversiMvcApp.Models.ViewModels
@model FinishedGameViewModel
@{
    ViewData["Title"] = $"You {Model.Result.ToString()!}";
}

<div class="finished finished__@Model.Result.ToString().ToLower()">
    @if(Model.Result == GameResult.Won)
    {
        <h1 class="finished--title">You Win!!!</h1>
    }
    else if(Model.Result == GameResult.Lost)
    {
        <h1 class="finished--title">You Lose!!!</h1>
    }
    else if(Model.Result == GameResult.Tied)
    {
        <h1 class="finished--title">You Tied!!!</h1>
    }
    <a class="finished--continue" asp-controller="Games" asp-action="Index">Continue</a>
</div>
