﻿@model ReversiMvcApp.Models.ViewModels.GameViewModel

@{
    ViewData["Title"] = "Play";
}

<link href="@Url.Content("~/css/style.min.css")" rel="stylesheet" type="text/css" />

<h1>Game: @Model.Game.Description</h1>

<div class="row">
    <div class="col playerlist__container">
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-12">
        <div class="board__container halfofcontainer halfofcontainer--withheight"></div>
    </div>
    <div class="col-md-6 col-12 catcontainer">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class=" mt-5">Stats</h2>
    </div>
    <div class="col-12">
        <canvas id="discs-count-chart"></canvas>
    </div>
    <div class="col-12">
        <canvas id="conquered-chart"></canvas>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/app.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/templates.js" asp-append-version="true"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () =>
        {
            const playerList = document.getElementsByClassName("playerlist__container")[0]
            Game.PlayerList.init(playerList, "@Model.Player1Name", "@Model.Player2Name", Game.Data.GameState.@Model.PlayerColour)
            Game.Data.init(Game.Data.Environment.Production, "@Model.ApiURI", "@Model.ApiToken")
            Game.init('@Model.Game.Token', Game.Data.GameState.@Model.PlayerColour, '@Model.PlayerToken')

            const board = document.getElementsByClassName("board__container")[0]
            Game.initBoard(board)

            Cat.initTemplates(".catcontainer")

            // init charts
            Game.Stats.initDiscCount(document.getElementById("discs-count-chart"), "@Model.Player1Name", "@Model.Player2Name")
            Game.Stats.initConqueredChart(document.getElementById("conquered-chart"), "@Model.Player1Name", "@Model.Player2Name")
        })
    </script>
}
