﻿@model IEnumerable<ReversiMvcApp.Models.Game>

@{
    ViewData["Title"] = "Games";
}

<h1>Index</h1>

@if(Model.Count() == 0)
{
    <p>
    There are no games looking for players.
    Create one yourself to start playing <a asp-action="Create">here</a>.
    </p>
}
else
{
    <p>
        <a asp-action="Create">Create New Game</a>
    </p>

    <ul class="list-group">
        @foreach (Game item in Model)
        {
            <li class="list-group-item">
                <span>@Html.DisplayFor(modelItem => item.Description)</span>
                <a class="btn btn-primary" asp-action="Join" asp-route-token="@item.Token">Join</a>
            </li>
        }
    </ul>

}