﻿@model ReversiMvcApp.Models.ViewModels.WaitingForPlayerViewModel
@{
    ViewData["Title"] = "Waiting for players";
}

<link href="@Url.Content("~/css/style.min.css")" rel="stylesheet" type="text/css" />

<h1>Game: @Model.Game.Description</h1>
<p class="waitingforplayers"><b class="loadingdots">Waiting for opponent</b></p>
<div class="catcontainer"></div>

@section Scripts
{
    <script type="text/javascript" src="~/js/app.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/templates.js" asp-append-version="true"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () =>
        {
            Game.Data.init(Game.Data.Environment.Production, "@Model.ApiURI", "@Model.ApiToken")
            Game.Waiting.init("@Model.Game.Token")
            Cat.initTemplates(".catcontainer")
        })
    </script>
}
