﻿@model ReversiMvcApp.Models.ViewModels.EditUserViewModel
@{
    ViewData["Title"] = "Edit " + @Model.User.UserName;
}

<h1>Edit</h1>
<h4>@Model.User.UserName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            
            <div class="form-check">
                @Html.CheckBoxFor(m => m.IsMediator, new {@checked = "checked", @class = "form-check-input"})
                @Html.LabelFor(m => m.IsMediator)
            </div>
            <br/>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
