﻿@model ReversiMvcApp.Models.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                @if(Model.IsAdmin)
                {
                <span> | </span>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
