﻿@model IEnumerable<ReversiMvcApp.Models.Player>

@{
    ViewData["Title"] = "Scoreboard";
}

<h1>Scoreboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesWon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesLost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesTied)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesTied)
            </td>
        </tr>
}
    </tbody>
</table>
